// Place all the styles related to the mainPage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body {
  background: url("mountain.jpg")no-repeat center top /cover;
  padding:  0;
  margin: 0;
}

header {
  background: #FFFFFF;
  height: 68px;
  padding: 0;
  margin: 0;
}

.logo{
  float: left;
  margin-left: 30px;
}

.menu1 {
  margin: 0;
  padding: 0;
  display: block;
}

.menu1 ul{
  float: right;
  list-style-type: none;
}
.menu1 li{
  float: left;
  display: inline;
  margin-right: 60px;
  margin-top: 25px;
}

.menu1 a {
  display: block;
  color: rgba(0, 0, 0, 0.83);
  text-decoration: none;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
}



.themes nav{
  background: rgba(0, 0, 0, 0.06);
  display: block;
  width: 100%;
  position: fixed;
  margin: 0;
  padding: 0;
}
nav ul{
  float: right;
}

.menu li {
  float: left;
  display: block;
}

.menu a {
  color: #FFFFFF;
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  padding: 15px 20px;
}

.menu a:hover{
  background: rgba(0, 0, 0, .10);
  border-bottom: 3px solid #FFFFFF;
}